---
title: Home
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <section style="height: 40vh;display:flex;justify-content:center;align-items:center;font-size:4rem">
      Hello World
    </section>
  {{/content}}
{{/extend}}
